
api_lampada/database/connection.php
application/automacao_residencial/node_modules/
application/automacao_residencial/.expo/
application/automacao_residencial/.expo-shared/
application/automacao_residencial/.vscode/
